In [1]:
import pandas as pd
from pathlib import Path

In [2]:
folder_path = Path("c:/Users/AULA04/Desktop/Codes/zrive-ds/data/box_builder_dataset/feature_frame.csv")

In [3]:
feature_frame = pd.read_csv(folder_path)

In [11]:
for column in feature_frame:
    initial_checks_dataframe_column(feature_frame[column])

//0          33826472919172
1          33826472919172
2          33826472919172
3          33826472919172
4          33826472919172
                ...
2880544    33826439594116
2880545    33826439594116
2880546    33826439594116
2880547    33826439594116
2880548    33826439594116
Name: variant_id, Length: 2880549, dtype: int64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: variant_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  int64
dtypes: int64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2879573 is the 99.97% of data
Number of types: 1 types: [<class 'int'>]
The mean: 34012501571575.29
The standard deviation: 278624559685.6023
The min: 33615294398596 The max: 34543002157188
Number of values uniques: 976
Error
//0             ricepastapulses
1             ricepastapulses
2             ricepastapulses
3             ricepastapulses
4             ricepastapulses
                  ...
2880544    healthcarevitamins
2880545    healthcarevitamins
2880546    healthcarevitamins
2880547    healthcarevitamins
2880548    healthcarevitamins
Name: product_type, Length: 2880549, dtype: object//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: product_type
Non-Null Count    Dtype
--------------    -----
2880549 non-null  object
dtypes: object(1)
memory usage: 22.0+ MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880487 is the 100.00% of data
Number of types: 1 types: [<class 'str'>]
Number of values uniques: 62
Error
//0          2807985930372
1          2808027644036
2          2808099078276
3          2808393957508
4          2808429314180
               ...
2880544    3643254800516
2880545    3643274788996
2880546    3643283734660
2880547    3643294515332
2880548    3643301986436
Name: order_id, Length: 2880549, dtype: int64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: order_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  int64
dtypes: int64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2877103 is the 99.88% of data
Number of types: 1 types: [<class 'int'>]
The mean: 2978388142421.595
The standard deviation: 244629205668.74954
The min: 2807985930372 The max: 3643301986436
Number of values uniques: 3446
Error
//0          3482464092292
1          3466586718340
2          3481384026244
3          3291363377284
4          3537167515780
               ...
2880544    3893722808452
2880545    3883757174916
2880546    3874925314180
2880547    3906490826884
2880548    3914253959300
Name: user_id, Length: 2880549, dtype: int64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: user_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  int64
dtypes: int64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2878612 is the 99.93% of data
Number of types: 1 types: [<class 'int'>]
The mean: 3750025089859.796
The standard deviation: 177571022016.2695
The min: 3046041190532 The max: 5029635227780
Number of values uniques: 1937
Error
//0          2020-10-05 16:46:19
1          2020-10-05 17:59:51
2          2020-10-05 20:08:53
3          2020-10-06 08:57:59
4          2020-10-06 10:37:05
                  ...
2880544    2021-03-03 13:19:28
2880545    2021-03-03 13:57:35
2880546    2021-03-03 14:14:24
2880547    2021-03-03 14:30:30
2880548    2021-03-03 14:42:05
Name: created_at, Length: 2880549, dtype: object//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: created_at
Non-Null Count    Dtype
--------------    -----
2880549 non-null  object
dtypes: object(1)
memory usage: 22.0+ MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2877103 is the 99.88% of data
Number of types: 1 types: [<class 'str'>]
Number of values uniques: 3446
Error
//0          2020-10-05 00:00:00
1          2020-10-05 00:00:00
2          2020-10-05 00:00:00
3          2020-10-06 00:00:00
4          2020-10-06 00:00:00
                  ...
2880544    2021-03-03 00:00:00
2880545    2021-03-03 00:00:00
2880546    2021-03-03 00:00:00
2880547    2021-03-03 00:00:00
2880548    2021-03-03 00:00:00
Name: order_date, Length: 2880549, dtype: object//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: order_date
Non-Null Count    Dtype
--------------    -----
2880549 non-null  object
dtypes: object(1)
memory usage: 22.0+ MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880400 is the 99.99% of data
Number of types: 1 types: [<class 'str'>]
Number of values uniques: 149
Error
//0          3
1          2
2          4
3          2
4          3
          ..
2880544    3
2880545    4
2880546    7
2880547    2
2880548    3
Name: user_order_seq, Length: 2880549, dtype: int64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: user_order_seq
Non-Null Count    Dtype
--------------    -----
2880549 non-null  int64
dtypes: int64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880529 is the 100.00% of data
Number of types: 1 types: [<class 'int'>]
The mean: 3.289342413546862
The standard deviation: 2.1401762154192667
The min: 2 The max: 21
Number of values uniques: 20
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: outcome, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: outcome
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.011536689707413414
The standard deviation: 0.10678763250880889
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: ordered_before, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: ordered_before
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.02113867877269229
The standard deviation: 0.14384659264555186
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: abandoned_before, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: abandoned_before
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.0006092588600298068
The standard deviation: 0.024675653487808338
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: active_snoozed, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: active_snoozed
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.0022901884328299918
The standard deviation: 0.047801090604758616
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: set_as_regular, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: set_as_regular
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.0036298636128043646
The standard deviation: 0.06013891384546488
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.081052
1          0.081052
2          0.081052
3          0.081052
4          0.081052
             ...
2880544    0.417186
2880545    0.417186
2880546    0.417186
2880547    0.417186
2880548    0.417186
Name: normalised_price, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: normalised_price
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880422 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.12728084348660804
The standard deviation: 0.1268378330485493
The min: 0.0159934941718622 The max: 1.0
Number of values uniques: 127
Error
//0          0.053512
1          0.053512
2          0.053512
3          0.053512
4          0.053512
             ...
2880544    0.114360
2880545    0.114360
2880546    0.114360
2880547    0.114360
2880548    0.114360
Name: discount_pct, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: discount_pct
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880023 is the 99.98% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.18627441799619976
The standard deviation: 0.1934480407013031
The min: -0.0401606425702811 The max: 1.325301204819277
Number of values uniques: 526
Error
//0          clearspring
1          clearspring
2          clearspring
3          clearspring
4          clearspring
              ...
2880544         colief
2880545         colief
2880546         colief
2880547         colief
2880548         colief
Name: vendor, Length: 2880549, dtype: object//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: vendor
Non-Null Count    Dtype
--------------    -----
2880549 non-null  object
dtypes: object(1)
memory usage: 22.0+ MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880285 is the 99.99% of data
Number of types: 1 types: [<class 'str'>]
Number of values uniques: 264
Error
//0          0.000000
1          0.000000
2          0.000000
3          0.038462
4          0.038462
             ...
2880544    0.000000
2880545    0.000000
2880546    0.000000
2880547    0.000000
2880548    0.000000
Name: global_popularity, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: global_popularity
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2874581 is the 99.79% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.010703019800647274
The standard deviation: 0.016633888179966572
The min: 0.0 The max: 0.425438596491228
Number of values uniques: 5968
Error
//0          2.0
1          2.0
2          2.0
3          2.0
4          2.0
          ...
2880544    2.0
2880545    2.0
2880546    2.0
2880547    2.0
2880548    2.0
Name: count_adults, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: count_adults
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880544 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 2.0176271953714378
The standard deviation: 0.20989152265095248
The min: 1.0 The max: 5.0
Number of values uniques: 5
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: count_children, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: count_children
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880545 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.054921822194310875
The standard deviation: 0.32765860226187304
The min: 0.0 The max: 3.0
Number of values uniques: 4
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: count_babies, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: count_babies
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880547 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.003538561572811294
The standard deviation: 0.05938047977991838
The min: 0.0 The max: 1.0
Number of values uniques: 2
Error
//0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2880544    0.0
2880545    0.0
2880546    0.0
2880547    0.0
2880548    0.0
Name: count_pets, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: count_pets
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880544 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 0.05134090758393626
The standard deviation: 0.3013646182773625
The min: 0.0 The max: 6.0
Number of values uniques: 5
Error
//0          2.0
1          2.0
2          2.0
3          2.0
4          2.0
          ...
2880544    2.0
2880545    2.0
2880546    2.0
2880547    2.0
2880548    2.0
Name: people_ex_baby, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: people_ex_baby
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880544 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 2.072549017565749
The standard deviation: 0.39436587917051413
The min: 1.0 The max: 5.0
Number of values uniques: 5
Error
//0          33.0
1          33.0
2          33.0
3          33.0
4          33.0
           ...
2880544    33.0
2880545    33.0
2880546    33.0
2880547    33.0
2880548    33.0
Name: days_since_purchase_variant_id, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: days_since_purchase_variant_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880407 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 33.12960966815701
The standard deviation: 3.7071616327416756
The min: 0.0 The max: 148.0
Number of values uniques: 142
Error
//0          42.0
1          42.0
2          42.0
3          42.0
4          42.0
           ...
2880544    34.0
2880545    34.0
2880546    34.0
2880547    34.0
2880548    34.0
Name: avg_days_to_buy_variant_id, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: avg_days_to_buy_variant_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880427 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 35.23734173589826
The standard deviation: 10.57765968728263
The min: 0.0 The max: 84.0
Number of values uniques: 122
Error
//0          31.134053
1          31.134053
2          31.134053
3          31.134053
4          31.134053
             ...
2880544    27.693045
2880545    27.693045
2880546    27.693045
2880547    27.693045
2880548    27.693045
Name: std_days_to_buy_variant_id, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: std_days_to_buy_variant_id
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2879730 is the 99.97% of data
Number of types: 1 types: [<class 'float'>]
The mean: 26.45304482980028
The standard deviation: 7.168322978635162
The min: 1.4142135623730951 The max: 58.68986283848344
Number of values uniques: 819
Error
//0          30.0
1          30.0
2          30.0
3          30.0
4          30.0
           ...
2880544    30.0
2880545    30.0
2880546    30.0
2880547    30.0
2880548    30.0
Name: days_since_purchase_product_type, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: days_since_purchase_product_type
Non-Null Count    Dtype
--------------    -----
2880549 non-null  float64
dtypes: float64(1)
memory usage: 22.0 MB
None
/////
Total values: 2880549
Number of null values: 0 is the 0.00% of data
Duplicates Values: 2880408 is the 100.00% of data
Number of types: 1 types: [<class 'float'>]
The mean: 31.435128859116787
The standard deviation: 12.275107029606312
The min: 0.0 The max: 148.0
Number of values uniques: 141
Error
//0          30.0
1          30.0
2          30.0
3          30.0
4          30.0
           ...
2880544    34.0
2880545    34.0
2880546    34.0
2880547    34.0
2880548    34.0
Name: avg_days_to_buy_product_type, Length: 2880549, dtype: float64//
<class 'pandas.core.series.Series'>
RangeIndex: 2880549 entries, 0 to 2880548
Series name: avg_days_to_buy_product_type